
$main-dark: #244C66;
$main-light: #e9f3f6;
$highlight: #7DB290;
$headerText: $main-dark;
$headerBg: $main-light;

.sidenav-container {
  height: 100%;
}

.sidenav-container a:hover{
  opacity: 1;
}

.sidenav {
  width: 200px;
  background-color: $main-light;
}

.mat-drawer-content{
  background-color: $main-light;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar-row, .mat-toolbar-single-row{
  padding: 0 0;
  
}

.mat-toolbar{
  background-color: transparent;
}

.mat-drawer-container{
  background-color: $main-light;
}

.mat-icon{
  font-size: 18px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  transition: 0.5s;
}

.header{
  height: 72px;
  z-index: 997;
  transition: all 0.5s;
  background-color: $main-light; 
  box-shadow: 0 3px 20px rgba(black, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
  
  &.active{
    background-color: $main-dark; 
  }
}

.hidden{
  display:none;
}

.rightbuttons{
  margin-left: auto;
}

.social-links{
  display: inline-block;
  justify-content: space-between;
  padding-left: 10px;
  font-family:'Lato', sans-serif;
  font-size: 16px;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.navbar-element, .mat-list-item{
  display: inline-block;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  margin: 0 10px;
  margin-left: auto;
  font-family:'Lato', sans-serif;
  font-size: 15px;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.company-logo {
  display: inline-block;
  padding: 0 0;
  white-space: nowrap;
}


.hidden-menu-item{
  font-family:'Lato', sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: black;
}




