
.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.slogan {
    margin: 0 0 20px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #364146;
}

.text {
    display: block;
    margin-bottom: 30px; 
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #364146;
    line-height: 36px;
}

.tile-image{
    width: 60%;
    height: 90%;

}