#introduction{
    margin-top: 70px;
    margin-bottom: -95px;
}

.aboutus{
    background-color: #f7f8f9;
    margin-top: 40px;
    margin-bottom: -35px;
    padding: 0;
}

.slogan {
    margin: 0 0 20px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #364146;
}

.intro-text-block{
    padding-top: 3rem !important;
    order: 2 !important;
    justify-content: center !important;
    flex-direction: column !important;
    display: flex !important;
}

.intro-image{
    text-align: center;
    order: 1;
    padding-top: 3rem !important;
}

.text {
    display: block;
    margin-bottom: 30px; 
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #364146;
    line-height: 36px;
}

.tile-image{
    width: 60%;
    height: 90%;
}

.about{
    font-weight: 400;
    font-size: 32px;
    color: #364146;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

.about-text-block{
    flex-direction: coloumn!important;
    display: flex!important;
    justify-content: center;
}

.about-text{
    font-family: 'Raleway', sans-serif;
    color: #364146;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}