#header{
    height: 72px;
    z-index: 997;
    transition: all 0.5s;
    background: #fff;
}

.slogan {
    margin: 0 0 20px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #364146;
}

.text {
    margin-bottom: 30px; 
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #364146;
}