#introduction{
    margin-top: 70px;
    margin-bottom: -95px;
}

#aboutus{
    background-color: #444444;
    margin-bottom: -35px;
}

.slogan {
    margin: 0 0 20px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #364146;
}

.intro-text-block{
    padding-top: 3rem !important;
    order: 2 !important;
    justify-content: center !important;
    flex-direction: column !important;
    display: flex !important;
}

.intro-image{
    text-align: center;
    order: 1;
    padding-top: 3rem !important;
}

.text {
    display: block;
    margin-bottom: 30px; 
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: #364146;
    line-height: 36px;
}

.tile-image{
    width: 60%;
    height: 90%;
}

.mat-grid-tile{
    justify-content: initial;
    align-items: initial;
}