<div >
  <mat-toolbar id="header" class="align-items-center d-flex fixed-top">
    <div class="container-fluid d-flex align-items-center">
      <span class="logo me-auto">
        <a href="index.html">
          <img src="assets/images/logo.png" alt style="height: 50px" >
        </a>
      </span>
    </div>
  </mat-toolbar>
</div>

<article style="margin-top: 70px; margin-bottom: -95px;">
  <div class="container">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0px" fxLayoutAlign="center center"> 

      <div fxFlex="50%" fxFlexOrder="2" fxFlexOrder.xs='1' fxFlexAlign="center">
        <img class="img-fluid" src="assets/images/hero-img.png">
      </div>

      <div  style="width: 80%; height: 80%;" fxFlex="50%" fxFlexOrder="1" fxFlexOrder.xs='2' fxFlexAlign="center" >
        <h1 class="slogan">
          FinTech, BigData, Business Intelligence
        </h1>
  
        <p class="text">
          Creating cutting-edge software for the delivery and use of financial services,
          we build up the enterprise's infrastructure for Big Data Management and Business Intelligence.
          Our software-as-a-services provide companies what is needed for their banking and payment service products.
        </p>

      </div> 
    </div>
  </div>
</article>
